.Main {
  background: #f6f6f4;
  flex: 1 1;
  border-radius: 35px 0 0 35px;
  padding: 40px 30px;
  gap: 30px;

  & > .content {
    flex-direction: column;
    flex: 1;
    gap: 30px;
  }

  h2 {
    font-weight: normal;
  }
}
