.Info {
  border-radius: 20px;
  background: white;
  padding: 20px 15px;
  gap: 18px;
  align-items: center;

  .photo {
    width: 68px;
    height: 65px;
    overflow: hidden;
    border-radius: 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .details {
    flex-direction: column;
  }
}
