body,
button,
input,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Rubik", sans-serif;
  outline: none;
  text-shadow: 0 0 1px #bfbfbf;
}

html,
body,
#root,
.App {
  min-height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

body,
button,
input {
  color: #2f3b49;
}

#root {
  flex: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  max-width: 100%;
}

div,
nav,
main,
header {
  display: flex;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.2px;
}

progress {
  accent-color: #6c63ff;
}

span,
p {
  color: #9c9c9c;
  font-size: 15px;
}

button,
label {
  background: #6c63ff;
  color: white;
  border: none;
  padding: 15px 18px;
  border-radius: 10px;
  transition: 0.15s;
  font-size: 16px;
  letter-spacing: 0.2px;
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:disabled {
  filter: grayscale(1);
}

button:not(:disabled):hover,
label:hover {
  filter: brightness(1.05);
  cursor: pointer;
}

button:not(:disabled):active,
label:active {
  transform: scale(0.95);
}

.box {
  box-shadow: 0px 3px 8px 2px rgb(214 214 214 / 20%);
}

.spinner {
  animation: 1s spin infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
